<input type="hidden" id="hidden-latest-time" value="{{ latest_time|date:'H:i:s' }}">
<input type="hidden" id="hidden-spot-price" value="{{ spot|floatformat:2 }}">
<input type="hidden" id="hidden-lot-size" value="{{ Lot_size }}">

<table>
    <thead>
        <tr>
            <th colspan="7" style="background:#003d33;">CALLS (CE)</th>
            <th style="background:#000033;">STRIKE</th>
            <th colspan="7" style="background:#3d0000;">PUTS (PE)</th>
        </tr>
        <tr>
            <th>IV(Δ)</th><th>CHG OI</th><th>OI</th><th>VOL</th><th>CHG</th><th>LTP</th><th>REV</th>
            <th>PRICE</th>
            <th>REV</th><th>LTP</th><th>CHG</th><th>VOL</th><th>OI</th><th>CHG OI</th><th>IV(Δ)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr class="{% if row.is_spot_divider %}spot-line-row{% endif %}">
            <td class="{% if row.Strike_Price < spot %}itm-bg{% else %}otm-bg{% endif %}">
                {{ row.CE_IV|floatformat:1 }}<br><span class="pct-text">{{ row.CE_Delta|floatformat:2 }}</span>
            </td>
            
            <td class="{% if row.CE_COI > 0 %}pos-val{% else %}neg-val{% endif %} {{ row.CE_COI_class }} {% if row.Strike_Price < spot %}itm-bg{% else %}otm-bg{% endif %}">
                {{ row.CE_COI|floatformat:0 }}
                <span class="pct-text">{{ row.CE_COI_percent|floatformat:1 }}%</span>
            </td>

            <td class="{{ row.CE_OI_class }} {% if row.Strike_Price < spot %}itm-bg{% else %}otm-bg{% endif %} white-text">
                {{ row.CE_OI|floatformat:0 }}
                <span class="pct-text">{{ row.CE_OI_percent|floatformat:1 }}%</span>
            </td>

            <td class="{{ row.CE_Volume_class }} {% if row.Strike_Price < spot %}itm-bg{% else %}otm-bg{% endif %} white-text">
                {{ row.CE_Volume|floatformat:0 }}
                <span class="pct-text">{{ row.CE_Volume_percent|floatformat:1 }}%</span>
            </td>

            <td class="{% if row.CE_CLTP > 0 %}pos-val{% else %}neg-val{% endif %} {% if row.Strike_Price < spot %}itm-bg{% else %}otm-bg{% endif %}">
                {{ row.CE_CLTP|floatformat:1 }}
            </td>
            <td class="{% if row.Strike_Price < spot %}itm-bg{% else %}otm-bg{% endif %} white-text"><strong>{{ row.CE_LTP }}</strong></td>
            <td class="rev-val {% if row.Reversl_Ce < spot %}breakout{% endif %}">
                {% if row.Reversl_Ce < spot %}Breakout{% else %}{{ row.Reversl_Ce |floatformat:2 }}{% endif %}
            </td>

            <td class="strike">
                {% if row.is_spot_divider %}<span class="spot-label">{{ spot|floatformat:0 }}</span>{% endif %}
                {{ row.Strike_Price|floatformat:0 }}
            </td>

            <td class="rev-val {% if row.Reversl_Pe > spot %}breakdown{% endif %}">
                {% if row.Reversl_Pe > spot %}Breakdown{% else %}{{ row.Reversl_Pe |floatformat:2 }}{% endif %}
            </td>
            <td class="{% if row.Strike_Price > spot %}itm-bg{% else %}otm-bg{% endif %} white-text"><strong>{{ row.PE_LTP }}</strong></td>
            <td class="{% if row.PE_CLTP > 0 %}pos-val{% else %}neg-val{% endif %} {% if row.Strike_Price > spot %}itm-bg{% else %}otm-bg{% endif %}">
                {{ row.PE_CLTP|floatformat:1 }}
            </td>

            <td class="{{ row.PE_Volume_class }} {% if row.Strike_Price > spot %}itm-bg{% else %}otm-bg{% endif %} white-text">
                {{ row.PE_Volume|floatformat:0 }}
                <span class="pct-text">{{ row.PE_Volume_percent|floatformat:1 }}%</span>
            </td>

            <td class="{{ row.PE_OI_class }} {% if row.Strike_Price > spot %}itm-bg{% else %}otm-bg{% endif %} white-text">
                {{ row.PE_OI|floatformat:0 }}
                <span class="pct-text">{{ row.PE_OI_percent|floatformat:1 }}%</span>
            </td>

            <td class="{% if row.PE_COI > 0 %}pos-val{% else %}neg-val{% endif %} {{ row.PE_COI_class }} {% if row.Strike_Price > spot %}itm-bg{% else %}otm-bg{% endif %}">
                {{ row.PE_COI|floatformat:0 }}
                <span class="pct-text">{{ row.PE_COI_percent|floatformat:1 }}%</span>
            </td>

            <td class="{% if row.Strike_Price > spot %}itm-bg{% else %}otm-bg{% endif %}">
                {{ row.PE_IV|floatformat:1 }}<br><span class="pct-text">{{ row.PE_Delta|floatformat:2 }}</span>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="15">Waiting for live data...</td></tr>
        {% endfor %}
    </tbody>
</table>